<div class="container">
  <div class="col-12">
    <div class="row offset-1 my-3">
      <h3 class="bg-light px-3"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>
    </div>
  <div class="row offset-1 my-3">
    <div class="col-11">
      <div class="my-3 ml-3">
        <div class="form-group">
          <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
          <%= render 'public/customers/customer_error', customer: @customer %>
          <div class="field my-2">
            <label class="col-2">会員ID</label>
            <label class="col-2"><%= @customer.id %></label>
          </div>
          <div class="field my-2">
            <%= f.label "氏名", class: 'col-2' %>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "令和", class: 'mr-3' %>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "道子", class: 'ml-3' %>
          </div>
          <div class="field my-2">
            <%= f.label "フリガナ", class: 'col-2' %>
            <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder: "レイワ", class: 'mr-3' %>
            <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "ミチコ", class: 'ml-3' %>
          </div>
          <div class="field my-2">
            <%= f.label "郵便番号", class: 'col-2' %>
            <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: "0000000" %>
          </div>
          <div class="fieldv">
            <%= f.label "住所", class: 'col-2' %>
            <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町０−０", class: 'col-9' %>
          </div>
          <div class="field my-2">
            <%= f.label "電話番号", class: 'col-2' %>
            <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", placeholder: "0000000000" %>
          </div>
          <div class="field my-2">
            <%= f.label "メールアドレス", class: 'col-2' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@exsample.com" %>
          </div>
          <div class="field my-2">
            <%= f.label "会員ステータス", class: 'col-2' %>
            <%= f.radio_button :is_deleted, "false" %>
            <%= f.label :is_deleted, "有効" %>
            <%= f.radio_button :is_deleted, "true", class: 'ml-3' %>
            <%= f.label :is_deleted, "退会" %>
          </div>
          <div class="actions my-5">
            <label class="col-2"></label>
            <%= f.submit "変更を保存", class: 'btn btn-success col-2' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
