<%= render 'genre', genres: @genres %>

<%= form_tag items_path, method: :get do %>

  <h1>
    <% if params[:name].present? %>
      <%= Genre.find(params[:name]).name %>
    <% else %>
      商品
    <% end %>
    一覧(全<%= @items.count %>件)
  </h1>

  <% @items.each do |item| %>
    <%= image_tag item.image, size: "300x300" %><br>
    <%= link_to item_path(item.id) do %>
    <%= item.name %>
    <% end %><br>
    ¥<%= item.price.to_s(:delimited) %><br>
  <% end %>

  <% if !params[:name].present? %>
    <%= paginate @items %>
  <% end %>

<% end %>
