<div>
  <%= image_tag @item.image %>
</div>
<div>
  <%= @item.name %><br>
  <%= @item.introduction %><br>
  ¥<%= @item.price.to_s(:delimited) %>(税込)<br>
  <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true do |f| %>
    <%= f.label :amount, "個数選択" %>
    <%= f.select :amount, *[1..10], autofocus: true, autocomplete: "amount" %>
    <%= f.hidden_field :item_id, :value => @item_id %>
    <%= f.submit "カートに入れる" %>
   <% end %>
</div>
