<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <div class ="col-2">
            <%= link_to "NAGANO CAKE", root_path, class: "navbar-brand btn btn-outline-dark" %>
          </div>
          <div class ="col-4">
            <% if customer_signed_in? %>
              <div class="d-flex justify-content-end">
                <p>ようこそ、<%= current_customer.last_name %>さん！</p>
              </div>
            <% end %>
          </div>
          <div class ="col-6">
            <div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="navbar-collapse collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
              <li>
                <%= link_to "マイページ", my_page_path, class: 'nav-link text-dark btn btn-outline-dark m-3' %>
              </li>
              <li>
                <%= link_to "商品一覧", items_path, class: 'nav-link text-dark btn btn-outline-dark m-3' %>
              </li>
              <li>
                <%= link_to "カート", cart_items_path, class: 'nav-link text-dark btn btn-outline-dark m-3' %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark btn btn-outline-dark mt-3 ml-3 mb-3' %>
              </li>
              <% elsif admin_signed_in? %>
              <li>
                <%= link_to "商品一覧", admin_items_path, class: 'nav-link text-dark btn btn-outline-dark m-3' %>
              </li>
              <li>
                <%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-dark btn btn-outline-dark m-3' %>
              </li>
              <li>
                <%= link_to "注文履歴一覧", admin_root_path, class: 'nav-link text-dark btn btn-outline-dark m-3' %>
              </li>
              <li>
                <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-dark btn btn-outline-dark m-3' %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark btn btn-outline-dark mt-3 ml-3 mb-3' %>
              </li>
              <% else %>
              <li>
                <%= link_to "About", about_path, class: 'nav-link text-dark btn btn-outline-dark m-3' %>
              </li>
              <li>
                <%= link_to "商品一覧", items_path, class: 'nav-link text-dark btn btn-outline-dark m-3' %>
              </li>
              <li>
                <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark btn btn-outline-dark m-3' %>
              </li>
              <li>
                <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark btn btn-outline-dark mt-3 ml-3 mb-3' %>
              </li>
              <% end %>
            </div>
            <div class="d-flex justify-content-end">
              <div class="mb-1">
                <%= form_tag search_path, method: :get do %>
                  <%= text_field_tag :search, params[:search], placeholder: "Search" %>
                  <%= button_tag :type => "submit", :name => nil do %>
                    <i class="fas fa-search"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    </header>
    <div>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
    </div>
    <main>
      <p id="notice"></p>
      <%= yield %>
    </main>
    <footer>
      <p></p>
    </footer>
  </body>
</html>
